body {
    font-family: 'Montserrat', sans-serif;
    margin: 5% 20% 100px;
    background-image: url('./../images/corkboard.jpeg');
}

h1 {
    background: ghostwhite;
    border-left: 18px solid rgb(255, 158, 0);
    letter-spacing: 8px;
    margin-bottom: 40px;
    padding-left: 20px;
    width: 35%;
}

.recipe-row {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.recipe-col {
    background: ghostwhite;
    border-radius: 5px;
    box-shadow: -2px 5px 5px 0 rgb(42, 42, 42);
    left: 0;
    margin: 0 5%;
    padding: 0% 3% 3%;
    top: 0;
    transition: box-shadow .08s, left .08s, top .08s;
    width: 40%;
}

.recipe-col:hover {
    box-shadow: -4px 7px 10px 0 rgb(42, 42, 42);
    left: 2px;
    position: relative;
    top: -2px;
}

.pin {
    display: inline-block;
    font-size: 1.8em;
    height: 2%;
    left: 10px;
    position: relative;
    text-align: center;
    top: -15px;
    transition: top .08s, left .08s;
    width: 100%;
}

.recipe-col:hover > .pin {
    left: 30px;
    top: -35px;
}

.ramen-border-left-tab {
    border-left: 3px solid antiquewhite;
    padding-left: 15px;
}

.salmon-border-left-tab {
    border-left: 3px solid rgb(253, 192, 185);
    padding-left: 15px;
}

.sauce-border-left-tab {
    border-left: 3px solid rgb(179, 127, 105);
    padding-left: 15px;
}

.wings-left-tab {
    border-left: 3px solid rgb(168, 83, 70);
    padding-left: 15px;
}


/* .img-container {
    align-items: center;
    display: flex;
    justify-content: center;
} */

.recipe-image {
    border-radius: 5px;
    width: 100%;
}