body {
    font-family: 'Montserrat', sans-serif;
    margin: 5% 20% 100px;
}

h1 {
    border-left: 5px solid rgb(169 121 43);
    letter-spacing: 8px;
    margin-bottom: 40px;
    padding-left: 20px;
}

.recipe-row {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.recipe-col {
    background: ghostwhite;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 gainsboro;
    height: 455px;
    margin: 0 5%;
    padding: 0% 2% 3%;
    width: 40%;
}

.pin {
    display: inline-block;
    font-size: 1.2em;
    height: 2%;
    position: relative;
    text-align: center;
    top: -10px;
    width: 100%;
}

.ramen-border-left-tab {
    border-left: 3px solid antiquewhite;
    padding-left: 15px;
}

.salmon-border-left-tab {
    border-left: 3px solid rgb(253, 192, 185);
    padding-left: 15px;
}

.sauce-border-left-tab {
    border-left: 3px solid rgb(179, 127, 105);
    padding-left: 15px;
}

.wings-left-tab {
    border-left: 3px solid rgb(168, 83, 70);
    padding-left: 15px;
}


/* .img-container {
    align-items: center;
    display: flex;
    justify-content: center;
} */

.recipe-image {
    border-radius: 5px;
    width: 100%;
}